.log_form {
    display: flex;
    padding-bottom: 1.5rem;
    flex-flow: column;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.log_form_inputs {
    padding: 1rem 1.2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.form_hint {
    font-size: .94rem;
}

.form_control {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: .62rem;
}

.form_control span {
    font-size: .86rem;
    font-weight: 500;
}

.form_control input, .form_control > button {
    height: 2.1rem;
}

.form_control_description, .form_hint {
    grid-column-start: 1;
    grid-column-end: 3;
}

.log_form_submit {
    display: flex;
    height: 2.1rem;
    align-items: center;
    justify-content: space-between;
}

.log_form_submit p {
    font-size: .88rem;
    font-weight: 300;
    font-style: italic;
}

.log_form_types {
    top: 4.5rem !important;
}